.book-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    li {
        padding: 100px;
    }
}

.Main-content {
    border: 3px solid aqua;
    width: 30%;
    // min-height: 8vh;
    margin-left: 30%;
    text-align: center;
    display: flex;
    gap: 50px;
    button {
        height: fit-content;
    }
}

.form {
    width: 30%;
    margin-left: 30%;
    display: flex;
    gap: 30px;
    text-align: center;
    button {
        min-height: fit-content;
        min-width: fit-content;
    }
}