@import url(./_book.scss);
@import url(./_nav.scss);
@import url(./_addbook.scss);

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 4%;
  background-color: #f5f6fa;
}

#root {
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
  min-height: 100vh;
}

.p-2 {
  font-size: 30px;
  padding: 50px;
}

.under-construction {
  cursor: pointer;
  width: 10%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
}
