@import url(./_book.scss);
@import url(./_nav.scss);
@import url(./_addbook.scss);

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  padding: 4%;
  background-color: #F5F6FA;
}

#root {
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
  min-height: 100vh;
}